
.start-button{
  background: radial-gradient(circle, rgba(240,230,140,1) 0%, rgba(187,96,33,0.9542191876750701) 100%);
  border-radius: 4px;
  color: #13293d;
  cursor: pointer;
  font-size: 2em;
  letter-spacing: 0.21px;
  line-height: 14px;
  max-width: 200px;
  padding: 10px 32px;
  text-align: center;
  align-items: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
}

.stop-button{
  background: radial-gradient(circle, rgba(240,230,140,1) 0%, rgba(187,96,33,0.9542191876750701) 100%);
  border-radius: 4px;
  color: #13293d;
  cursor: pointer;
  font-size: 2em;
  letter-spacing: 0.21px;
  line-height: 14px;
  max-width: 200px;
  padding: 10px 32px;
  text-align: center;
  align-items: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin-top: 0.6em;
}
.header{
  padding: 40px;
  text-align: center;
  background: #13293d;
  color: #fff;
  border-bottom:30px #879274;
}